/target/
.cache-main
.cache-tests
.cachepath
.project
.settings/
spark/.classpath
.vscode/settings.json
spark/.settings/org.eclipse.jdt.core.prefs
spark/src/main/scala/com/shu/spark/local_test_pyspark.py
